<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sarojbardewa.com.cookhookpro">

    <!-- Add permission for internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/age_rf_photo_of_veggie_stir_fry"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/age_rf_photo_of_veggie_stir_fry"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainrecipescreen.RecipeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Activities for New Recipe activity -->
        <activity
            android:name=".newrecipe.NewRecipeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".newrecipe.IngredientListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".newrecipe.DirectionsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileActivity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileUpdateActivity.UpdateProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Test Activity -->

        <!-- Activities for Login and Splash Screens -->
        <activity android:name=".loginandsplashscreens.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".loginandsplashscreens.LoginActivity"/>

        <activity android:name=".loginandsplashscreens.SignUPActivity"/>
        <activity
            android:name=".shoppinglist.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list">
        </activity>
        <activity android:name=".StxStDirActivity.StxStDirActivity"/>
    </application>

</manifest>